.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
bin/
**/.DS_Store
gf
main
main.exe
output/
manifest/output/
temp/
temp.yaml
bin
**/config/config.yaml

# Environment variables
.env
manifest/docker/mysql_data
manifest/docker/redis-config
log/
*.yml
manifest/docker/mysql/initdb/